.home-bg{
  background-image: url("/public/background-Boolflix.jpg");

  .learn-more{
    line-height: 93vh;
    background-color: #26890d;
    color: white;
    padding: 20px 40px;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    &:hover{
      background-color: #3bd514;
    }


  }
}

